ul {
   
    list-style-type: none; /* Tira o estilo das listas */
    margin: 0;
    padding: 0;
    background-color: coral;
    display: inline-block;
    width: 200px;
}


ul a {
background: url("./imagens/menu.png");
width: 200px;
height: 40px;
display: block;
text-decoration: none;
text-indent: 40px; /* Ele empurra para frente */
line-height: 40px; /* A altura da linha do texto. Ele ficará centralizado se colocarmos o valor igual do whidt */
color: black;
}

ul a:hover{
    background-color: blueviolet;
    color: #fff;
    display: inline-block;
}
